.footer {
    position:relative;
    left:0;
    bottom:0;
    right:0;
    // background-color: red;
    color: #fff;
    text-align: center;
    text-decoration: none;
    // margin-top: 500px;
}

.footer .git-linkedin a {
    text-decoration: none;
    // background-color: red;
    color: #fff;
}


    
// }

// .footer h3 {
//     color: #fff;
//     text-align: center;
//     padding-top: 1000px;
//     margin: 0;
   
        
// }

// .git-linkedin {
//    margin-bottom: -500px;
//    background-color: red;
// }

// .Footer {
//     background-color: red;
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: center;
//     // text-align: center;
//     // width: 100%;
// }
